


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mitoolbar {
  position: absolute;
  height: 7%;
  color: #a4a3a3;
  background-color: #464646;
}

.otrocomponente {
  position: fixed;
  height: 93%;
}

.image{
 
  height:100%; 
  background-size:cover;
  
  background-image:url(/assets/img/FONFO_FRACTAL.png);


	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-color: #464646;
}
